@model List<MatchmakingHelper.Models.Company>
@{
    ViewBag.Title = "Company Index";
}

<h2>Companies in the Database</h2>
<div>
    <form class="form-inline" method="post" action="@Url.Action("AddCompany","Company")">
        <input class="form-control" type="text" name="companyName" placeholder="Company name..." required="required" />
        <input class="form-control" type="number" name="numberOfTablesDay1" placeholder="# tables 1..." required="required" />
        <input class="form-control" type="number" name="numberOfTablesDay2" placeholder="# tables 2..." required="required" />
        <button class="btn">Add Company</button>
    </form>
</div>
<div class="student-table">
    <div class="table-titles">
        <span>Company Name</span>
        <span>Tables Day 1</span>
        <span>Tables Day 2</span>
    </div>
    @foreach (var company in Model)
    {
        <div>

            <form class="form-inline" method="post" action="@Url.Action("RemoveCompany","Company")">
                <span>@company.Name</span>
                <span>@company.NumberOfTablesDay1</span>
                <span>@company.NumberOfTablesDay2</span>

                <input type="hidden" name="companyId" value="@company.Id" />
                <button class="btn">Remove</button>
            </form>

        </div>
    }
</div>



