@model List<MatchmakingHelper.Models.Student>
@{
    ViewBag.Title = "Index";
}

<h2>Students in the Database</h2>
<div>
    <form class="form-inline" method="post" action="@Url.Action("AddStudent","Students")">
        <input class="form-control" type="text" name="studentName" placeholder="Enter student name..." required="required" />
        <input class="form-control" type="email" name="studentEmail" placeholder="Enter student email..." required="required" />
        <button class="btn">Add Student</button>
    </form>
</div>
<div class="student-table">
    <div class="table-titles">
        <span>Student Name</span>
        <span>Student Email</span>
        <span>Link To Preferences</span>
    </div>
    @foreach (var student in Model)
    {
        <div>

            <form class="form-inline" method="post" action="@Url.Action("RemoveStudent","Students")">
                <span>@student.Name</span>
                <span>@student.Email</span>
                <span class="wide-column"><a href="@Url.Action("Preferences", "Students", new { id = @student.Id })" target="_blank">@Url.Action("Preferences", "Students", new { id = @student.Id })</a></span>

                <input type="hidden" name="id" value="@student.Id" />
                <button class="btn">Remove</button>
            </form>

        </div>
    }
</div>

