@model MatchmakingHelper.Models.StudentPrefViewModel
@{
    ViewBag.Title = "Preferences";
}

<h2>Preferences</h2>

<div>
    <div class="multi-form">
        <form class="form-inline" method="post" action="@Url.Action("AddPreference","Students")">
            <select class="form-control" name="companyId" size="@Model.AllCompanies.Count" required>
                @foreach (var company in Model.AllCompanies)
                {
                    if (!Model.Student.Preferences.Select(p => p.Id).Contains(company.Id))
                    {
                        <option value="@company.Id">@company.Name</option>
                    }
                }
            </select>
            <input type="hidden" name="studentId" value="@Model.Student.Id" />
            <button class="btn">&#x21E8;</button>
        </form>
    </div>
    <div class="multi-form">
        <form class="form-inline" method="post" action="@Url.Action("RemovePreference","Students")">
            <button class="btn">&#x21E6;</button>
            <select class="form-control" name="companyId" size="@Model.AllCompanies.Count" required>
                @foreach (var company in Model.Student.Preferences)
                {
                    <option value="@company.Id">@company.Name</option>
                }
            </select>
            <input type="hidden" name="studentId" value="@Model.Student.Id" />
        </form>
    </div>
</div>